$break: 411px;
$break-nav-bar: 500px;

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;

  .nav-bar-container {
    display: flex;
    width: 90%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $break-nav-bar) {
      width: 450px;
    }

    .logo {
      height: 60px;
      width: 60px;
      margin-top: 10px;
      margin-right: auto;
      @media (min-width: $break) {
        height: 80px;
        width: 80px;
        margin-top: 0px;
      }
    }

    .header {
      font-size: 160%;
      margin-top: 15px;
      color: #e8fdff;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: $break) {
        font-size: 250%;
        margin-top: 5px;
      }
    }

    .nav-menu {
      font-size: 200%;
      margin-top: 20px;
      margin-left: auto;
      color: black;
      font-weight: bolder;
      cursor: pointer;
    }

    ul.opened {
      top: 80px;
      margin: 0;
      left: 0;
      padding: 0;
      text-align: center;
      border-bottom: 5px solid #00a087;
      position: fixed;
      background-color: white;
      width: 100%;
      @media (min-width: $break-nav-bar) {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
      }
    }

    ul.closed {
      display: none;
    }

    .nav-list-item {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #00a087;
      background-color: white;
      @media (min-width: $break-nav-bar) {
        display: block;
        border-top: none;
        width: 33.33%
      }
    }

    // .nav-list-item .closed {
    //   display: none;
    // }

    .nav-list-item:first-child {
      border-top: none;
    }

    .nav-list-item:hover {
      background-color: #e8fdff;
    }

    .nav-list-item a {
      text-decoration: none;
      color: black;
      font-size: 150%;
      font-weight: bolder;
      padding-left: 0;
      padding-right: 0;
    }


    // .menu::before {
    //   // text-align: right;
    //   // position: absolute;
    //   font-family: "Font Awesome 5 Free";
    //   font-style: normal;
    //   font-weight: 900;
    //   content: "\f0c9";
    //   color: black;
    //   // cursor: pointer;
    //   // margin-top: 13px;
    //   // right: 0;
    //   font-size: 2.4em;
    // }

    .compose {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 60px;
      width: 130px;
      border: 1px black;
      border-radius: 8px;
      background-color: #E8FDFF;
      font-size: 1.4em;
      font-weight: lighter;
      color: #00A087;
      display: block;
      @media(min-width: $break) {
        margin-right: 0px;
      }
    }

    .compose:hover {
      background-color: white;
    }
  }
}
