// github commit screw up filler
$minor-break: 398px;

.new-tweet {
  align-content: flex-start;
  background-color: #ececec;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 90%;
  @media (min-width: $minor-break) {
    width: 360px;
  }

  h2 {
    display: block;
    text-align: left;
    border-bottom: solid #4a4747 2.2px;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
  }

  textarea {
    display: block;
    width: 85%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
  }

  .new-tweet-footer {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    padding: 5% 5% 5% 5%;
  }

  .buttonTweet {
    display: inline-flex;
    text-align: left;
    background-color: #e8fdff;
    color: #00a087;
    padding: 10px 30px 10px 30px;
    font-size: 1.4em;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .buttonTweet:hover {
    background-color: white;
  }

  .buttonTweet:focus {
    outline: none;
  }

  .counter {
    display: inline-flex;
    text-align: right;
    font-size: 1.3em;
    padding-right: 2px;
  }

  .counter-red {
    color: red;
  }
}
