$break: 411px;

.tweet {
  background-color: white;
  border-color: #bdbdbd;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $break) {
    width: 358px;
  }

  .tweet-header {
    background-color: rgba(160, 160, 160, 0.13);
    border-top: solid #bdbdbd 0px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    @media (min-width: $break) {
      height: 70px;
    }

    .avatar {
      background-color: cyan;
      border-radius: 5px;
      border-width: 1px;
      margin-left: 4px;
      margin-top: 4px;
      margin-right: 4px;
      height: 52px;
      width: 52px;
      @media (min-width: $break) {
        height: 55px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 7px;
        width: 55px;
      }
    }

    .name {
      color: #6b6c6f;
      font-size: 1.3em;
      margin-left: 4px;
      margin-top: 4px;
      padding-right: 10px;
      width: 180px;
      @media (min-width: $break) {
        font-size: 1.5em;
        margin-top: 10px;
        padding-right: 40px;
        width: 230px;
      }
    }

    .handle {
      color: rgba(130, 130, 130, 0.63);
      float: right;
      font-size: 1.0em;
      font-weight: 100;
      margin-right: 7px;
      margin-top: 10px;
      @media (min-width: $break) {
        margin-right: 10px;
        margin-top: 15px;
      }
    }
  }

  .tweet-body {
    width: 100%;

    .tweet-text {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 1.0em;
      @media (min-width: $break) {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.2em;
      }
    }
  }

  .tweet-footer {
    border-top: solid 1px rgba(128, 128, 128, 0.32);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    line-height: 0.1em;
    @media (min-width: $break) {
      flex-wrap: nowrap;
      line-height: 1em;
      margin-top: 10px;
    }

    .tweet-date {
      order: 1;
      width: 49%;
      margin-left: 6px;
      font-size: 0.9em;
      @media (min-width: $break) {
        margin-left: 10px;
        width: 30%;
      }
    }

    .tweet-likes-container {
      order: 3;
      margin-left: 5px;
      width: 98%;
      @media (min-width: $break) {
        order: 2;
        width: 30%;
      }
    }

    .tweet-likes {
      display: inline-block;
      font-size: 0.9em;
    }

    .tweet-likes-suffix {
      display: inline-block;
      font-size: 0.9em;
      margin-left: 0.2em;
    }

    .icons {
      order: 2;
      display: inline-block;
      width: 47%;
      @media (min-width: $break) {
        order: 3;
        margin-right: 5px;
        width: 40%;
      }
    }

    .icon {
      float: right;
      margin-top: 30px;
      margin-left: 10px;
      padding-left: 5px;
      color: #7BC3B7;
      opacity: 0;
      @media (min-width: $break) {
        margin-top: 10px;
      }
    }

    .like-tweet-selected::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f004";
      color: red;
      cursor: pointer;
    }

    .like-tweet-not-selected::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f004";
      color: #7BC3B7;
      cursor: pointer;
    }

    .retweet-tweet::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f079";
      color: #7BC3B7;
      text-decoration: none;
      cursor: pointer;
    }

    .flag-tweet::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f024";
      color: #7BC3B7;
      text-decoration: none;
      cursor: pointer;
    }

    button {
      background-color: transparent;
      border: 0;
    }

    button:focus {
      outline: none;
    }
  }

  &:hover {
    border: solid gray 2px;
  }

  &:hover .icon {
    opacity: 1;
  }
}
