$minor-break: 398px;

.tweet {
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 90%;
  @media (min-width: $minor-break) {
    width: 360px;
  }

  .tweet-header {
    background-color: rgba(160, 160, 160, 0.13);
    border-top: solid #bdbdbd 0px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    @media (min-width: $minor-break) {
      height: 70px;
    }

    .avatar {
      background-color: cyan;
      border-radius: 5px;
      border-width: 1px;
      margin-left: 4px;
      margin-top: 4px;
      margin-right: 4px;
      height: 52px;
      width: 52px;
      @media (min-width: $minor-break) {
        height: 55px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 7px;
        width: 55px;
      }
    }

    .name {
      color: #6b6c6f;
      font-size: 130%;
      margin-left: 4px;
      margin-top: 4px;
      padding-right: 10px;
      width: 180px;
      @media (min-width: $minor-break) {
        font-size: 150%;
        margin-top: 10px;
        padding-right: 40px;
        width: 230px;
      }
    }

    .handle {
      color: rgba(130, 130, 130, 0.63);
      float: right;
      font-weight: 100;
      margin-right: 7px;
      margin-top: 10px;
      font-size: 100%;
      @media (min-width: $minor-break) {
        margin-right: 10px;
        margin-top: 15px;
        font-size: 120%;
      }
    }
  }

  .tweet-body {
    width: 100%;

    .tweet-text {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 100%;
      @media (min-width: $minor-break) {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 130%;
      }
    }
  }

  .tweet-footer {
    border-top: solid 1px rgba(128, 128, 128, 0.32);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: $minor-break) {
      flex-wrap: nowrap;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .tweet-date {
      order: 1;
      display: inline-block;
      margin-left: 5px;
      margin-top: 10px;
      font-size: 90%;
      width: 98%;
      @media (min-width: $minor-break) {
        order: 1;
        width: 33%;
        font-size: 110%;
        margin-left: 10px;
        margin-top: 5px;
      }
    }

    .tweet-likes-container {
      order: 2;
      width: 35%;
      font-size: 90%;
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
      @media (min-width: $minor-break) {
        order: 2;
        font-size: 110%;
        width: 27%;
      }
    }

    .tweet-likes {
      display: inline-block;
    }

    .tweet-likes-suffix {
      display: inline-block;
      margin-left: 0.2em;
    }

    .icons-container {
      order: 3;
      display: inline-block;
      width: 58%;
      text-align: right;
      margin-right: 10px;
      font-size: 110%;
      @media (min-width: $minor-break) {
        order: 3;
        margin-right: 15px;
        margin-top: 3px;
        width: 39%;
        font-size: 120%;
      }
    }

    .icon {
      text-align: right;
      margin-left: 20px;
      color: #7BC3B7;
      opacity: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      @media (min-width: $minor-break) {
        margin-left: 16px;
      }
    }

    .like-tweet-selected::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f004";
      color: red;
      cursor: pointer;
    }

    .like-tweet-not-selected::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f004";
      color: #7BC3B7;
      cursor: pointer;
    }

    .retweet-tweet::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f079";
      color: #7BC3B7;
      cursor: pointer;
      margin-left: 5px;
    }

    .flag-tweet::before {
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      content: "\f024";
      color: #7BC3B7;
      cursor: pointer;
    }

    button {
      background-color: transparent;
      border: 0;
    }

    button:focus {
      outline: none;
    }
  }

  &:hover {
    border: solid gray 2px;
  }

  &:hover .icon {
    opacity: 1;
  }
}
