article.tweet {
  background-color: white;
  border-color: #bdbdbd;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 50px;
  padding: 0;
}

article.tweet header {
  background-color: rgba(160, 160, 160, 0.13);
  border-top: solid #bdbdbd 0px;
  border-radius: 5px;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

article.tweet .avatar {
  background-color: cyan;
  border-radius: 5px;
  border-width: 1px;
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  width: 55px;
}

article.tweet .name {
  color: #6b6c6f;
  font-size: 1.5em;
  margin-top: 10px;
  padding-right: 40px;
  width: 230px;
}

article.tweet .handle {
  color: rgba(130, 130, 130, 0.63);
  float: right;
  font-size: 1em;
  font-weight: 100;
  margin-right: 10px;
  margin-top: 15px;
}

article.tweet .tweet-text {
  font-size: 1.3em;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

article.tweet footer {
  border-top: solid 1px rgba(128, 128, 128, 0.32);
  height: 45px;
}

article.tweet .tweet-date {
  float: left;
  font-size: 0.9em;
  margin-left: 10px;
}

article.tweet .icon {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  padding-left: 5px;
  color: #7BC3B7;
  opacity: 0;
}

article a:visited {
  color: #7BC3B7;
}

article.tweet:hover {
  border: solid gray 2px;
}

article.tweet:hover footer .icon {
  opacity: 1;
}
